.symbols-container {
    width: 100%;
    overflow: hidden;
    padding-left: 100%;
    box-sizing: content-box;
    background-color: rgba(1,1,1,1);
    color: rgba(255,255,255,1);
}
.stock-symbols {
    overflow: hidden;
    display: inline-block;
    white-space: normal;
    padding-right: 100%;
    white-space: nowrap;
    box-sizing: content-box;
    animation: stock-moves;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes stock-moves {
    from {
        transform: translate3d(0 0 0);
        visibility: visible
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}
.stock-down{
    color:red;
    font-size: 25px
}
.stock-up{
    color: green;
    font-size: 25px
}
.market-data{
    display: flex;
    justify-content: center;
    align-items: center;
}
.big-datas{
    width: 85%;
    display: flex;
    justify-content: space-evenly;
}
.big-stock-overviews{
    display: flex;
    flex-direction: column;
    width: 31%;
    background: rgba(1,1,1,0.1);
    height: 200px;
    justify-content: center;
    margin-top: 30px;
}
.ticker-names{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ticker-prices{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.modal{
    height: 100%;
    width: 30%;
    background-color: rgba(1,1,1,0.7);
    color: white;
    animation: move;
    animation-duration: 1s;
    transition-timing-function: ease-in-out;
}
@keyframes move{
    from{
        width: 0%;
        opacity: 0
    } to {
        width: 30%;
        opacity: 0.8
    }
}
.modal button{
    float: right;
    color: white;
    font-size: 18px;
    background: black;
    border: none;
    font-weight: bold;
    background: transparent
}
.modal h2{
    color: #22aadd;
    font-size: 20px;
    font-family: "Open Sans";
    cursor: pointer;
}
.sign-up{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 30%;
    cursor: pointer;
}

@media (max-width: 1024px) and (min-width: 769px){
    .big-stock-overviews h1{
        font-size: 20px;
    }
    .big-stock-overviews h2{
        font-size: 18px;
    }
    .big-stock-overviews{
        height: 150px;
    }
}

@media (max-width: 768px) and (min-width: 560px){
    .brand h2{
        font-size: 35px;
    }
    .more p{
        font-size: 18px;
    }
    .big-stock-overviews h1{
        font-size: 15px;
    }
    .big-stock-overviews h2{
        font-size: 12px;
    }
    .big-stock-overviews .stock-up{
        font-size: 13px;
    }
    .big-stock-overviews .stock-down{
        font-size: 13px;
    }
    .big-stock-overviews{
        height: 110px;
    }
}

@media (max-width: 560px) and (min-width: 426px){
    .big-stock-overviews h1{
        font-size: 11px;
    }
    .big-stock-overviews h2{
        font-size: 10px;
    }
    .big-stock-overviews .stock-up{
        font-size: 10px;
    }
    .big-stock-overviews .stock-down{
        font-size: 10px;
    }
    .big-stock-overviews{
        height: 100px;
    }
}

@media (max-width: 425px){
    .big-stock-overviews h1{
        font-size: 8px;
    }
    .big-stock-overviews h2{
        font-size: 7px;
    }
    .big-stock-overviews .stock-up{
        font-size: 7px;
    }
    .big-stock-overviews .stock-down{
        font-size: 7px;
    }
    .big-stock-overviews{
        height: 80px;
    }
}