span.stock-down{
    color: red;
    font-size: 1.17em;
    padding-right: 5px;
}
span.stock-up{
    color: green;
    font-size: 1.17em;
    padding-right: 5px;
}
.symbol{
    display: inline-block;
    width: auto;
    height: 50px;
    margin-right: 10px;
}
.symbol h3{
    margin-right: 5px;
    font-weight: 400
}
.full-size{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

